@model crmInmobiliario.Models.vmCotizacion

@{
    ViewBag.Title = "Detalles";
}

<h2>Cotización</h2>

<br /><br />
<div class="col-md-3">
        
        <hr />
    <div class="alert alert-info" role="alert">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Desarrollos.Desarrollo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.propiedades.Desarrollos.Desarrollo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Edificios.Edificio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.propiedades.Edificios.Edificio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.PropiedadesCategoria.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.propiedades.PropiedadesCategoria.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.propiedades.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.VentaPrecio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.propiedades.VentaPrecio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.M2Interiores)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.M2Interiores)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Terraza)
            </dt>
            <dd>
                @if (Model.propiedades.Terraza.HasValue)
                {
                    if (Model.propiedades.Terraza == true)
                    {
                        <i class="fa fa-check-circle text-success text-center"></i>
                    }
                    else
                    {
                        <i class="fa fa-times-circle text-danger text-center"></i>
                    }
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.M2Terraza)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.M2Terraza)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.PrecioM2Terraza)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.PrecioM2Terraza)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Bodega)
            </dt>
            <dd>
                @if (Model.propiedades.Bodega.HasValue)
                {
                    if (Model.propiedades.Bodega == true)
                    {
                        <i class="fa fa-check-circle text-success text-center"></i>
                    }
                    else
                    {
                        <i class="fa fa-times-circle text-danger text-center"></i>
                    }
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.M2Bodega)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.M2Bodega)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.PrecioM2Bodega)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.PrecioM2Bodega)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Estacionamiento)
            </dt>
            <dd>
                @if (Model.propiedades.Estacionamiento.HasValue)
                {
                    if (Model.propiedades.Estacionamiento == true)
                    {
                        <i class="fa fa-check-circle text-success text-center"></i>
                    }
                    else
                    {
                        <i class="fa fa-times-circle text-danger text-center"></i>
                    }
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.PrecioEstacionamiento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.PrecioEstacionamiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.CajonesEstacionamiento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.CajonesEstacionamiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.FrenteLocal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.FrenteLocal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.LargoLocal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.LargoLocal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Acabados)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.Acabados)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.AcabadosEspecifique)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.AcabadosEspecifique)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.propiedades.Nivel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.propiedades.Nivel)
            </dd>
        </dl>
    </div>
</div>
<div class="col-md-9">
    <div class="alert alert-success" role="alert">
        <h3>Seleccione Cliente/Prospecto a cotizar</h3>
    </div>

    <div>
        <p>
            @using (Html.BeginForm("Create", "Cotizaciones", FormMethod.Get, new { @class = "form-inline" }))
            {
                <input type="hidden" value="@Model.propiedades.IdPropiedad" name="IdPropiedad" />
                <input type="hidden" value="True" name="filtro" />

                <div class="form-group">
                    <label for="nombre"> Nombre:</label> @Html.DropDownList("nombre", null, "Todos", new { @class = "form-control chosen-select" })
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-filtrar" type="submit"><i class="fa fa-search"></i> Buscar</button>
                </div>
            }
        </p>
    </div>

        <table class="table table-hover table-condensed">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.personas.CodigoPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.personas.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.personas.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.personas.Materno)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.personas.Email)
                </th>
                
            </tr>

            @foreach (var item in ViewBag.personas)
            {
                <tr>
                    <td class="">
                        <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Siguiente" onclick="location.href='@Url.Action("Pagos", "Cotizaciones", new { idPersona = item.IdPersona, idPropiedad = Model.propiedades.IdPropiedad })';return false;"><i class="fa fa-fw fa-chevron-circle-right"></i></button>
                    </td>
                    <td>
                        @item.CodigoPersona
                    </td>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Paterno
                    </td>
                    <td>
                        @item.Materno
                    </td>
                    <td>
                        @item.Email
                    </td>
                   
                </tr>
            }

        </table>

    </div>
<div class="row">
    <div class="col-md-12">
        <p>
            @*@if (ViewBag.filtro.HasValue)
            {*@

                <button class="btn btn-primary" onclick="location.href='@Url.Action("Filtro", "Propiedades")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            @*else
            {
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Propiedades")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            }*@
        </p>
    </div>
</div>

