@model crmInmobiliario.Models.vmCotizacion

@{
    ViewBag.Title = "Pagos";
}

<h2>Cotización : Datos de Pagos</h2>

<div class="row">
    <div class="col-md-4 no-gutter">
        <div class="panel">
            <div class="panel-body alert-success">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.Codigo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.propiedades.Codigo)
                    </dd>

                    <div class="alert-warning">
                        <dt>
                            @Html.DisplayNameFor(model => model.propiedades.VentaPrecio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.propiedades.VentaPrecio)
                        </dd>
                    </div>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.M2Interiores)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.propiedades.M2Interiores)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.Terraza)
                    </dt>
                    <dd>
                        @if (Model.propiedades.Terraza.HasValue)
            {
                if (Model.propiedades.Terraza == true)
                {
                                <i class="fa fa-check-circle text-success text-center"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle text-danger text-center"></i>
                            }
                        }
                        else
                        {
                            <i class="fa fa-times-circle text-danger text-center"></i>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.M2Terraza)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.propiedades.M2Terraza)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.Bodega)
                    </dt>
                    <dd>
                        @if (Model.propiedades.Bodega.HasValue)
            {
                if (Model.propiedades.Bodega == true)
                {
                                <i class="fa fa-check-circle text-success text-center"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle text-danger text-center"></i>
                            }
                        }
                        else
                        {
                            <i class="fa fa-times-circle text-danger text-center"></i>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.M2Bodega)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.propiedades.M2Bodega)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.Estacionamiento)
                    </dt>
                    <dd>
                        @if (Model.propiedades.Estacionamiento.HasValue)
            {
                if (Model.propiedades.Estacionamiento == true)
                {
                                <i class="fa fa-check-circle text-success text-center"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle text-danger text-center"></i>
                            }
                        }
                        else
                        {
                            <i class="fa fa-times-circle text-danger text-center"></i>
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.propiedades.Nivel)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.propiedades.Nivel)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body alert-info">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Paterno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Paterno)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Materno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Materno)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Telefono)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Telefono)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.Celular)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.Celular)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.personas.PersonasCategoria.Categoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.personas.PersonasCategoria.Categoria)
                    </dd>
                </dl>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">
                <div class="form-group col-md-4 pb-15">
                    @Html.LabelFor(model => model.cotizaciones.PorcentajeEnganche, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.cotizaciones.PorcentajeEnganche, new { htmlAttributes = new { @class = "form-control", @id = "porcentajeEnganche" } })
                        @Html.ValidationMessageFor(model => model.cotizaciones.PorcentajeEnganche, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    @Html.LabelFor(model => model.cotizaciones.Enganche, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.cotizaciones.Enganche, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true", @id = "enganche" } })
                        @Html.ValidationMessageFor(model => model.cotizaciones.Enganche, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    <label class="control-label">Pagos de enganche</label>
                    <div class="">
                        @Html.TextBox("pagosEnganche", null, htmlAttributes: new { @class = "form-control", @id = "pagosEnganche" })
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    <label class="control-label">Precio Final</label>
                    <div class="">
                        @Html.TextBox("precioFinalVenta", Model.propiedades.VentaPrecio.Value, htmlAttributes: new { @class = "form-control", @id = "precioFinalVenta" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    @Html.LabelFor(model => model.cotizaciones.PorcentajeMensualidades, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.cotizaciones.PorcentajeMensualidades, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true", @id = "porcentajeMensualidades" } })
                        @Html.ValidationMessageFor(model => model.cotizaciones.PorcentajeMensualidades, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    @Html.LabelFor(model => model.cotizaciones.PagoMensual, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.cotizaciones.PagoMensual, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true", @id = "pagoMensual" } })
                        @Html.ValidationMessageFor(model => model.cotizaciones.PagoMensual, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    @Html.LabelFor(model => model.cotizaciones.Parcialidades, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.cotizaciones.Parcialidades, new { htmlAttributes = new { @class = "form-control", @id = "parcialidades" } })
                        @Html.ValidationMessageFor(model => model.cotizaciones.Parcialidades, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-offset-4 col-md-4 pb-15">
                    <label class="control-label">Pago Inicial</label>
                    <div class="">
                        @Html.TextBox("fechaInicial", null, htmlAttributes: new { @class = "form-control date", @type = "date" })
                    </div>
                </div>

                <div class="form-group col-md-4 pb-15">
                    <label class="control-label">Pagos Anuales</label>
                    <div class="">
                        @Html.TextBox("numPagosAnuales", null, htmlAttributes: new { @class = "form-control", @style = "max-width: 60px;", @id = "numPagosAnuales" })
                        @Html.TextBox("pagosAnuales", null, htmlAttributes: new { @class = "form-control", @id = "pagosAnuales" })
                    </div>
                </div>

                <div class="col-md-4 pull-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-table"></i> Generar tabla de amortización</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-md-12"></div>

@section Scripts{
    <script>
        $(document).ready(function () {

            // $('name=Enganche]').prop('disabled', true);
            // $('name=PagoMensual]').prop('disabled', true);
            // $('name=PorcentajeMensualidades]').prop('disabled', true);
            $('#pagosEnganche').val('1');
            $('#porcentajeEnganche').val('30');
            $('#parcialidades').val('24');
            $('#numPagosAnuales').val('0');
            $('#pagosAnuales').val('0');
            $('#porcentajeMensualidades').val(100 - $('#porcentajeEnganche').val());


            $("#porcentajeEnganche").keyup(function () {
                $('#enganche').val((($(this).val()) * ($('#precioFinalVenta').val())) / 100 );
                $('#porcentajeMensualidades').val(100 - ($(this).val()));
                $('#pagoMensual').val(
                                                    ($('#precioFinalVenta').val() -
                                                    $('#enganche').val()) /
                                                    $('#parcialidades').val()
                                                    );
            });

            $("#pagosEnganche").keyup(function () {
                $('#enganche').val((($('#porcentajeEnganche').val()) * ($('#precioFinalVenta').val())) / 100);


            });

            $("#parcialidades").keyup(function () {
                //$('#enganche').val((($("#porcentajeEnganche").val()) * ($('#precioFinalVenta').val())) / 100);
                //$('#porcentajeMensualidades').val(100 - ($("#porcentajeEnganche").val()));
                $('#pagoMensual').val(
                                                    ($('#precioFinalVenta').val() -
                                                    $('#enganche').val() -
                                                    ($('#pagosAnuales').val() * $('#numPagosAnuales').val())
                                                    ) /
                                                    $('#parcialidades').val()
                                                    );
            });

            $("#pagosAnuales").keyup(function () {
                $('#pagoMensual').val(
                                                    ($('#precioFinalVenta').val() -
                                                    $('#enganche').val() -
                                                    ($('#pagosAnuales').val() * $('#numPagosAnuales').val())
                                                    ) /
                                                    $('#parcialidades').val()
                                                    );
            });

            $("#numPagosAnuales").keyup(function () {
                $('#pagoMensual').val(
                                                    ($('#precioFinalVenta').val() -
                                                    $('#enganche').val() -
                                                    ($('#pagosAnuales').val() * $('#numPagosAnuales').val())
                                                    ) /
                                                    $('#parcialidades').val()
                                                    );
            });


        });
    </script>
}