@model crmInmobiliario.Models.EdificiosDetalle

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Configuración de Edificio</h2>


<div class="alert alert-danger" role="alert">
    <strong>ATENCIÓN!!!</strong> <h3>Esta seguro(a) de Eliminar esta Configuración de Edificio?</h3>
</div>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificios.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificios.Edificio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "EdificiosDetalles")';return false;"><i class="fa fa-chevron-left"></i> Volver</button>
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
    </div>
    }
</div>
