@model crmInmobiliario.Models.EdificiosDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Datos de Configuración de Edificio</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desarrollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desarrollo) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificios.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificios.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M2)
        </dd>

        

    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "EdificiosDetalles")';return false;"><i class="fa fa-chevron-left"></i> Volver</button>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "EdificiosDetalles", new { id = Model.IdEdificioDetalle })';return false;"><i class="fa fa-pencil"></i> Editar</button>
        </p>
    </div>
</div>