@model IEnumerable<crmInmobiliario.Models.PropiedadesCaracteristicas>

@{
    ViewBag.Title = "Index";
}

<h2>Amenidades de Propiedades</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "PropiedadesCaracteristicas")'"><i class="fa fa-user-plus"></i> Registrar Amenidad</button>
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Caracteristica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropiedadesCaracteristicasCategorias.Categoria)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="">
            <div class="list-inline">
                <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "PropiedadesCaracteristicas", new { id = item.IdCaracteristica })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "PropiedadesCaracteristicas", new { id = item.IdCaracteristica })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                <button class="btn btn-danger btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href='@Url.Action("Delete", "PropiedadesCaracteristicas", new { id = item.IdCaracteristica })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caracteristica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropiedadesCaracteristicasCategorias.Categoria)
        </td>
        
    </tr>
}

</table>
