@model IEnumerable<crmInmobiliario.Models.ProspectosIncidencias>

@{
    ViewBag.Title = "Incidencias";
}

<h2>Incidencias de prospectos</h2>
<h4>Prospectos/clientes que intentaron registrarse de manera duplicada</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prospecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioIncidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prospecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioIncidencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
    </tr>
}

</table>
