@model crmInmobiliario.Models.Propiedades

@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Propiedad</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Desarrollo, "Desarrollo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Desarrollo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Desarrollo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Edificio, "Edificio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Edificio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Edificio, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Categoria", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nivel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nivel, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.VentaPrecio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VentaPrecio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VentaPrecio, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <hr class="col-md-10 col-md-offset-1" />

        <div class="row groupform">
            <div class="col-md-10 col-md-offset-1 form-inline panel panel-default">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.M2Interiores, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.M2Interiores, new { htmlAttributes = new { @class = "form-control", @id = "M2Interiores" } })
                        @Html.ValidationMessageFor(model => model.M2Interiores, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.PrecioM2Interiores, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PrecioM2Interiores, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrecioM2Interiores, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-------------Bodega-------------------->

        <div class="form-group">
            @Html.LabelFor(model => model.Bodega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    Si @Html.RadioButtonFor(model => model.Bodega, true, new { @id = "bodegaT" })
                    No @Html.RadioButtonFor(model => model.Bodega, false, new { @checked = "checked", @id = "bodegaF" })
                    @Html.ValidationMessageFor(model => model.Bodega, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row groupform" id="BodegaPanel">
            <div class="col-md-10 col-md-offset-1 form-inline panel panel-default">
                <div class="form-group">
                    @Html.LabelFor(model => model.M2Bodega, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.M2Bodega, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.M2Bodega, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrecioM2Bodega, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PrecioM2Bodega, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrecioM2Bodega, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-------------Bodega-------------------->
        <!-------------Terraza-------------------->

        <div class="form-group">
            @Html.LabelFor(model => model.Terraza, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    Si @Html.RadioButtonFor(model => model.Terraza, true, new { @id = "terrazaT" })
                    No @Html.RadioButtonFor(model => model.Terraza, false, new { @checked = "checked", @id = "terrazaF" })
                    @Html.ValidationMessageFor(model => model.Terraza, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row groupform" id="TerrazaPanel">
            <div class="col-md-10 col-md-offset-1 form-inline panel panel-default">
                <div class="form-group">
                    @Html.LabelFor(model => model.M2Terraza, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.M2Terraza, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.M2Terraza, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrecioM2Terraza, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PrecioM2Terraza, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrecioM2Terraza, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-------------Terraza-------------------->
        <!-------------Estacionamiento-------------------->

        <div class="form-group">
            @Html.LabelFor(model => model.Estacionamiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    Si @Html.RadioButtonFor(model => model.Estacionamiento, true, new { @id = "estacionamientoT" })
                    No @Html.RadioButtonFor(model => model.Estacionamiento, false, new { @checked = "checked", @id = "estacionamientoF" })
                    @Html.ValidationMessageFor(model => model.Estacionamiento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row groupform" id="EstacionamientoPanel">
            <div class="col-md-10 col-md-offset-1 form-inline panel panel-default">
                <div class="row groupform">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PrecioEstacionamiento, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PrecioEstacionamiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrecioEstacionamiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CajonesEstacionamiento, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.CajonesEstacionamiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CajonesEstacionamiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-------------Estacionamiento-------------------->
        <!-------------Baños------------------------------>
        <div class="form-group">
            @Html.LabelFor(model => model.TipoBanio, "TipoBanio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoBanio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoBanio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumBanios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NumBanios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumBanios, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-------------Baños-------------------->
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FrenteLocal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FrenteLocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FrenteLocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LargoLocal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LargoLocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LargoLocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acabados, "Acabados", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Acabados", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Acabados, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcabadosEspecifique, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcabadosEspecifique, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AcabadosEspecifique, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Registrar</button>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Propiedades")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            document.getElementById("BodegaPanel").style.display = "none";
            document.getElementById("TerrazaPanel").style.display = "none";
            document.getElementById("EstacionamientoPanel").style.display = "none";
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#bodegaT').click(function () {
                $('#BodegaPanel').show("fast");
            });
            $('#bodegaF').click(function () {
                $('#BodegaPanel').hide("fast");
            });
            /*-------------*/
            $('#terrazaT').click(function () {
                $('#TerrazaPanel').show("fast");
            });
            $('#terrazaF').click(function () {
                $('#TerrazaPanel').hide("fast");
            });
            /*-------------*/
            $('#estacionamientoT').click(function () {
                $('#EstacionamientoPanel').show("fast");
            });
            $('#estacionamientoF').click(function () {
                $('#EstacionamientoPanel').hide("fast");
            });
            /*-------------*/
            /*-------------*/
            $("select[name=TipoPropiedad]").change(function(){
                $('input[name=Titulo]').val($(this).find("option:selected").text());
            });
            /*-------------*/
        });
    </script>

}