@model crmInmobiliario.Models.Propiedades

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<div>
    <h4>Propiedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desarrollos.Desarrollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desarrollos.Desarrollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificios.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificios.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPropiedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPropiedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentaPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentaPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2Interiores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M2Interiores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terraza)
        </dt>
        <dd>
            @if (Model.Terraza.HasValue)
            {
                if (Model.Terraza == true)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2Terraza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M2Terraza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioM2Terraza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioM2Terraza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estacionamiento)
        </dt>
        <dd>
            @if (Model.Estacionamiento.HasValue)
            {
                if (Model.Estacionamiento == true)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioEstacionamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioEstacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2Estacionamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M2Estacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioM2Estacionamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioM2Estacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CajonesEstacionamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CajonesEstacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banios)
        </dt>
        <dd>
            @if (Model.Banios.HasValue)
            {
                if (Model.Banios == true)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparacionBanio)
        </dt>
        <dd>
            @if (Model.PreparacionBanio.HasValue)
            {
                if (Model.PreparacionBanio == true)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenteLocal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrenteLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargoLocal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LargoLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acabados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acabados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcabadosEspecifique)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcabadosEspecifique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SistemaAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SistemaAC)
        </dd>
       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Propiedades")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
    }
</div>
