@model crmInmobiliario.Models.VariosModelos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Propiedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.propiedades.VentaPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.VentaPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.RentaPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.RentaPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.RentaTarifaDiaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.RentaTarifaDiaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.RentaTarifaSemanal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.RentaTarifaSemanal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.RentaTarifaMensual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.RentaTarifaMensual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.RentaEstadiaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.RentaEstadiaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Recamaras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Recamaras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.PreparacionBanio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.PreparacionBanio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.IncluyeInstalacionBanio)
        </dt>

        <dd>
            @if (@Model.propiedades.IncluyeInstalacionBanio.Value)
            {
                <i class="fa fa-check-circle text-success text-center"></i>
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Banios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Banios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.MedioBanios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.MedioBanios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Construccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Construccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Terreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Terreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.LargoTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.LargoTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.FrenteTerreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.FrenteTerreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.AcabadosEspecifique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.AcabadosEspecifique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.MantenimientoMensual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.MantenimientoMensual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.UsuarioUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.UsuarioUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.FechaUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.FechaUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Estacionamiento)
        </dt>

        <dd>
                @if (@Model.propiedades.Estacionamiento.Value)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.CajonesEstacionamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.CajonesEstacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.M2Interiores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.M2Interiores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.M2Terraza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.M2Terraza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.M2Bodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.M2Bodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.FrenteLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.FrenteLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.LargoLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.LargoLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Niveles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Niveles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.SistemaAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.SistemaAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Reglamento)
        </dt>

        <dd>
            @if (@Model.propiedades.Reglamento.Value)
            {
                <i class="fa fa-check-circle text-success text-center"></i>
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.URLReglamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.URLReglamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Desarrollos.Desarrollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Desarrollos.Desarrollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.Monedas.Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.Monedas.Moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.PropiedadesAcabados.Acabado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.PropiedadesAcabados.Acabado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.PropiedadesAntiguedad.Antiguedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.PropiedadesAntiguedad.Antiguedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.PropiedadesTipo.TipoPropiedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.PropiedadesTipo.TipoPropiedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propiedades.PropiedadesTiposOperacion.TipoOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propiedades.PropiedadesTiposOperacion.TipoOperacion)
        </dd>
        @foreach (var d in @Model.domicilios)
        {
            <hr />
            <dt class="text-info">
                <i class="fa fa-map-marker"></i> Domicilio
            </dt>
            <dd>

            </dd>


            <dt>
                @Html.DisplayNameFor(model => d.Calle)
            </dt>
            <dd>
                @Html.DisplayFor(model => d.Calle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => d.NumExterior)
            </dt>
            <dd>
                @Html.DisplayFor(model => d.NumExterior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => d.NumInterior)
            </dt>
            <dd>
                @Html.DisplayFor(model => d.NumInterior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => d.EntreEsquina)
            </dt>
            <dd>
                @Html.DisplayFor(model => d.EntreEsquina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => d.YCalle)
            </dt>
            <dd>
                @Html.DisplayFor(model => d.YCalle)
            </dd>
            <dt>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary btn-tblsolc inline" title="Editar" onclick="location.href='@Url.Action("Edit", "Domicilios", new { id = @d.IdDomicilio, idPersona = Model.propiedades.IdPropiedad, tipo = 3 })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                    <button class="btn btn-danger btn-tblsolc inline" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Domicilios", new { id = @d.IdDomicilio, idPersona = Model.propiedades.IdPropiedad, tipo = 3 })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
                </div>
            </dt>
            <dd></dd>

        }

    </dl>

    <p>
        <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Domicilios", new { idPersona = Model.propiedades.IdPropiedad, tipo = 3 })';return false;"><i class="fa fa-map-marker"></i> Agregar Domicilio</button>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Propiedades")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Propiedades", new { id = Model.propiedades.IdPropiedad })';return false;"><i class="fa fa-pencil"></i> Editar</button>
        </p>
    </div>
</div>

