@model IEnumerable<crmInmobiliario.Models.Propiedades>

@{
    ViewBag.Title = "Propiedades";
}

<h2>Propiedades</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Propiedades")'"><i class="fa fa-building"></i> Registrar Propiedad</button>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Excel", "Propiedades")'"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
</p>
<div class="wrapper" style="height: 500px; overflow-y:auto;">
    <table class="table table-hover table-condensed">
        <thead class="header">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Edificios.Edificio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desarrollos.Desarrollo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.M2Interiores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.M2Terraza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.M2Bodega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FrenteLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LargoLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VentaPrecio)
                </th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="">
                    <div class="btn-lista">
                        <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Propiedades", new { id = item.IdPropiedad })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                        <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Propiedades", new { id = item.IdPropiedad, filtro = false })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                        <button class="btn btn-danger btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Propiedades", new { id = item.IdPropiedad })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edificios.Edificio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desarrollos.Desarrollo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2Interiores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2Terraza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2Bodega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FrenteLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LargoLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VentaPrecio)
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{

    <script>
        var $table = $('.wrapper table');

        $table.floatThead({
            //useAbsolutePositioning: true,
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

    </script>
}