@model crmInmobiliario.Models.FormasPago

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Forma de Pago</h2>


<div class="alert alert-danger" role="alert">
    <strong>ATENCIÓN !!!</strong> <h3>Esta seguro(a) de Eliminar esta Forma de Pago?</h3>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERP2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "FormasPago")';return false;"><i class="fa fa-chevron-left"></i> Volver</button>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
    }
</div>
