@model crmInmobiliario.Models.Personas

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<div class="alert alert-danger" role="alert">
    <strong>ATENCIÓN !!!</strong> <h3>Esta seguro(a) de Eliminar esta Persona?</h3>
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediosContacto.MedioContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediosContacto.MedioContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonasGenero.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonasGenero.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonasTipo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonasTipo.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.categoriap == 1)
            {
                <button class="btn btn-primary" onclick="location.href='@Url.Action("ListaProspectos", "Personas")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            }
            else if (ViewBag.categoriap == 2)
            {
                <button class="btn btn-primary" onclick="location.href='@Url.Action("ListaClientes", "Personas")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            }            
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
    }
</div>
