@model crmInmobiliario.Models.VariosModelos

@{
    ViewBag.Title = "Detalles";
}

<h2>Datos de la persona</h2>
<hr />

<div class="col-md-6">
    <div class="alert alert-info" role="alert">
        <h4><i class="fa fa-user"></i> @Html.DisplayFor(model => model.personas.PersonasCategoria.Categoria)</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.personas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.FechaNacimiento)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.personas.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Celular)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.personas.MedioContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.MediosContacto.MedioContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.MediosEnterarse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.MediosEnterarse1.Medio)
        </dd>
        <!---  Referencia  --->
        <dt>
            @Html.DisplayNameFor(model => model.personas.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Personas2.NombreCompleto)
        </dd>
        <!---  Referencia  --->
        <dt>
            @Html.DisplayNameFor(model => model.personas.PersonasGenero.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.PersonasGenero.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.PersonasTipo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.PersonasTipo.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.PersonasIntereses.Interes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personas.InteresEspecifique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.InteresEspecifique)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personas.Giro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personas.Giro)
        </dd>

        <hr />


            @foreach (var d in Model.domicilios)
            {
                <hr />
                <dt class="text-info">
                    <i class="fa fa-map-marker"></i> Domicilio
                </dt>
                <dd>

                </dd>


                <dt>
                    @Html.DisplayNameFor(model => d.Calle)
                </dt>
                <dd>
                    @Html.DisplayFor(model => d.Calle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => d.NumExterior)
                </dt>
                <dd>
                    @Html.DisplayFor(model => d.NumExterior)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => d.NumInterior)
                </dt>
                <dd>
                    @Html.DisplayFor(model => d.NumInterior)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => d.EntreEsquina)
                </dt>
                <dd>
                    @Html.DisplayFor(model => d.EntreEsquina)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => d.YCalle)
                </dt>
                <dd>
                    @Html.DisplayFor(model => d.YCalle)
                </dd>
                <dt>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary btn-tblsolc inline" title="Editar" onclick="location.href='@Url.Action("Edit", "Domicilios", new { id = @d.IdDomicilio, idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap, tipo = 0 })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                        <button class="btn btn-success btn-tblsolc inline" title="Editar" onclick="location.href='@Url.Action("Details", "Domicilios", new { id = @d.IdDomicilio, idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap, tipo = 0 })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                        <button class="btn btn-danger btn-tblsolc inline" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Domicilios", new { id = @d.IdDomicilio, idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap, tipo = 0 })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
                    </div>
                </dt>
                <dd></dd>

            }
        </dl>

        <p>
            <button class="btn btn-info" onclick="location.href='@Url.Action("Create", "Domicilios", new { idPersona = Model.personas.IdPersona, tipo = Model.personas.Categoria })';return false;"><i class="fa fa-map-marker"></i> Agregar Domicilio</button>

        </p>

</div>
<div class="col-md-6">
    <div class="alert alert-warning" role="alert">
        <h4><i class="fa fa-sticky-note"></i> Notas</h4>
    </div>
    <hr />
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Create", "Notas", new { idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap })';return false;"><i class="fa fa-sticky-note-o"></i> Crear Nota</button>
    <hr />
    @foreach (var m in Model.notas)
    {
        <h5 class="text-info"><i class="fa fa-calendar-o"></i> @m.Fecha.ToString().AsDateTime().ToShortDateString():</h5>
        <p>@m.Nota</p>
        <div class="btn-group" role="group">
            <button class="btn btn-primary btn-tblsolc inline"  title="Editar" onclick="location.href='@Url.Action("Edit", "Notas", new { id = @m.IdNota, idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-danger btn-tblsolc inline"  title="Eliminar" onclick="location.href='@Url.Action("Delete", "Notas", new { id = @m.IdNota, idPersona = Model.personas.IdPersona, categoriap = ViewBag.categoriap })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
        </div>
        <hr />
    }
   
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            @if (ViewBag.categoriap == 1)
            {
                <button class="btn btn-primary" onclick="location.href='@Url.Action("ListaProspectos", "Personas")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            }
            else if (ViewBag.categoriap == 2)
            {
                <button class="btn btn-primary" onclick="location.href='@Url.Action("ListaClientes", "Personas")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            }
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Personas", new { id = Model.personas.IdPersona, categoriap = Model.personas.Categoria })';return false;"><i class="fa fa-pencil"></i> Editar</button>
        </p>
    </div>
</div>

