@model crmInmobiliario.Models.vmPersonaValidacion

@{
    ViewBag.Title = "Detalles";
}

<h2>Validación</h2>
<hr />

<div class="alert alert-info" role="alert">
    <strong>PASO 2 DE 3 </strong> <h3>Registro de Documentos Presentados</h3>
</div>


<div class="col-md-6">
    <div class="alert alert-info" role="alert">
        <h4><i class="fa fa-user"></i> Datos del @Html.DisplayFor(model => model.personas.PersonasCategoria.Categoria).ToString().ToLower()</h4>
        @*<dl class="dl-horizontal">
            
        </dl>*@
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.personas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.FechaNacimiento)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.personas.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Celular)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.personas.MediosContacto.MedioContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.MediosContacto.MedioContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.PersonasGenero.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.PersonasGenero.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.PersonasTipo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.PersonasTipo.Tipo)
        </dd>
        <hr />

           
        </dl>

       
</div>
<div class="col-md-6">
    <div class="alert alert-warning" role="alert">
        <h4><i class="fa fa-file-text-o"></i> Documentos Presentados</h4>
    </div>
    <hr />
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Create", "PersonasValidacions", new { idPersona = Model.personas.IdPersona})';return false;"><i class="fa fa-check-circle"></i> Registrar Documento Presentado</button>
    <hr />
    @foreach (var m in Model.validaciones)
    {
        <h5 class="text-info"><i class="fa fa-file-text-o"></i> @m.DocumentosCategoria.Categoria</h5>
        @*<p>@m.Validacion</p>*@
        <div class="btn-group" role="group">
            <button class="btn btn-info btn-tblsolc inline"  title="Editar" onclick="location.href='@Url.Action("Edit", "PersonasValidacions", new { id = @m.IdValidacion, idPersona = Model.personas.IdPersona })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-danger btn-tblsolc inline"  title="Eliminar" onclick="location.href='@Url.Action("Delete", "PersonasValidacions", new { id = @m.IdValidacion, idPersona = Model.personas.IdPersona })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
        </div>
        <hr />
    }
   
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ListaProspectosValidar", "Personas")';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
            @*<button class="btn btn-success" onclick="location.href='@Url.Action("ValidarProspecto", "Personas")';return false;"><i class="fa fa-chevron-right"></i> Siguiente</button>*@
            <button class="btn btn-success" onclick="location.href='@Url.Action("ValidarProspecto", "Personas", new { id = Model.personas.IdPersona })';return false;"><i class="fa fa-chevron-right"></i> Siguiente</button>
          
        </p>
    </div>
</div>

