@model IEnumerable<crmInmobiliario.Models.Personas>

@{
    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Personas")'"><i class="fa fa-plus"></i> Registrar persona</button>

    <hr />

    @using (Html.BeginForm("Index", "Personas", FormMethod.Get, new { @class="form-inline" }))
    {
        <div class="form-group">
            <label for="tipoCliente"> Tipo:</label> @Html.DropDownList("tipoCliente", null, "Todos", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="tipoCliente"> Nombre:</label> @Html.DropDownList("nombre", null, "Todos", new { @class = "form-control chosen-select" })
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-filtrar" type="submit"><i class="fa fa-search-plus"></i> Filtrar</button>
        </div>
    }
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediosContacto.MedioContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumInterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntreEsquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YCalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estados.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipios.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paises.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonasGenero.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonasTipo.Tipo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="">
            <div class="list-inline">
                <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Personas", new { id = item.IdPersona })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Personas", new { id = item.IdPersona })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                <button class="btn btn-danger btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Personas", new { id = item.IdPersona })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediosContacto.MedioContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumInterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntreEsquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YCalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipios.Municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paises.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonasGenero.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonasTipo.Tipo)
        </td>
    </tr>
}

</table>
