@model IEnumerable<crmInmobiliario.Models.Personas>

@{
    ViewBag.Title = "Lista de Prospectos";
}

<h2>Validación</h2>

<hr />

<div class="alert alert-info" role="alert">
    <strong>PASO 1 DE 3  </strong> <h3>Seleccione Prospecto a Validar</h3>
</div>

<p>

    @using (Html.BeginForm("ListaProspectosValidar", "Personas", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label for="nombre"> Nombre:</label> @Html.DropDownList("nombre", null, "Todos", new { @class = "form-control chosen-select" })
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-filtrar" type="submit"><i class="fa fa-search"></i> Buscar</button>
        </div>
    }
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonasGenero.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
     
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="">
                <div class="btn-lista">
                    <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Seleccionar para Validacion" onclick="location.href='@Url.Action("DetailsProspectoValidar", "Personas", new { id = item.IdPersona })';return false;"><i class="fa fa-fw fa-chevron-circle-right"></i></button>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonasGenero.Genero)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
        </tr>
    }

</table>
