@model crmInmobiliario.Models.Edificios

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Edificio</h2>


<div class="alert alert-danger" role="alert">
    <strong>ATENCIÓN!!!</strong> <h3>Esta seguro(a) de Eliminar este Edificio?</h3>
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desarrollos.Desarrollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desarrollos.Desarrollo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Edificios")';return false;"><i class="fa fa-chevron-left"></i> Volver</button>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
    }
</div>
