@model IEnumerable<crmInmobiliario.Models.Edificios>

@{
    ViewBag.Title = "Index";
}

<h2>Edificios</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Edificios")'"><i class="fa fa-user-plus"></i> Registrar Edificio</button>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Excel", "Edificios")'"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Desarrollo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edificio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveles)
        </th>
        

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="">
                <div class="list-inline">
                    <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Edificios", new { id = item.IdEdificio })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                    <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Edificios", new { id = item.IdEdificio })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                    <button class="btn btn-danger btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Edificios", new { id = item.IdEdificio })';return false;"><i class="fa fa-fw fa-trash-o"></i></button>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desarrollos.Desarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edificio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveles)
            </td>            
           
        </tr>
    }

</table>
