@model crmInmobiliario.Models.Amortizaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Amortizaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propiedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propiedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProgramado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProgramado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstaPagado)
        </dt>

        <dd>
            @if (Model.EstaPagado.HasValue)
            {
                if (Model.EstaPagado == true)
                {
                    <i class="fa fa-check-circle text-success text-center"></i>
                }
                else
                {
                    <i class="fa fa-times-circle text-danger text-center"></i>
                }
            }
            else
            {
                <i class="fa fa-times-circle text-danger text-center"></i>
            }
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.TiposPago.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposPago.Tipo)
        </dd>

    </dl>
</div>

<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Filtro", "Amortizaciones", new { cotizacion = Model.Cotizacion })';return false;"><i class="fa fa-chevron-left"></i> Volver a la lista</button>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Amortizaciones", new { id = Model.IdAmortizacion })';return false;"><i class="fa fa-pencil"></i> Editar</button>
</div>
