@model IEnumerable<crmInmobiliario.Models.Amortizaciones>

@{
    ViewBag.Title = "Tabla de Amortizaciones";
}

<h2>Tabla de Amortizaciones</h2>
@*<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Amortizaciones", new { idCotizacion = 2 })'"><i class="fa fa-user-plus"></i> Agregar Pago</button>
</p>*@
<div class="row no-gutter">
    <div class="col-md-2" style="display:none;">
        @using (Html.BeginForm("Filtro", "Amortizaciones", FormMethod.Get, new { @class = " panel panel-default" }))
        {
            <div class="panel-body panel-info">

                <div class="form-group">
                    <label> Persona: </label><div class="">
                        @Html.DropDownList("Persona", null, "Todas", htmlAttributes: new { @class = "form-control chosen-select" })
                    </div>
                </div>

                <div class="form-group">
                    <label> Propiedad: </label><div class="">
                        @Html.DropDownList("Propiedad", null, "Todas", htmlAttributes: new { @class = "form-control chosen-select" })
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-filtrar left" type="submit"><i class="fa fa-search-plus"></i> Filtrar</button>
                </div>

            </div>
        }
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="wrapper" style="height: 500px; overflow-y:auto;">
            <table class="table table-hover table-condensed">
                <thead class="header">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.TiposPago.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaProgramado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Importe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cotizacion)
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                            <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-eye"></i></button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TiposPago.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaProgramado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cotizacion).ToString().PadLeft(5, '0')
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var $table = $('.wrapper table');

        $table.floatThead({
            //useAbsolutePositioning: true,
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

    </script>
}