@model IEnumerable<crmInmobiliario.Models.Amortizaciones>

@{
    ViewBag.Title = "Tabla de Amortizaciones Oficial";
}

<div class="alert alert-info" role="alert">
    <h3>Tabla de Amortización Oficial</h3>
</div>
@*<p>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Amortizaciones", new { idCotizacion = 2 })'"><i class="fa fa-user-plus"></i> Agregar Pago</button>
    </p>*@

<div class="row">
    <div class="alert alert-success col-md-10 col-md-offset-1">
        @*<div class="row alert-info pb-15">
                <div class="col-md-4 text-center">
                    <i class="fa fa-user"></i> @ViewBag.personaNombre
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-mobile-phone"></i> @ViewBag.personaTelefono
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-envelope"></i> @ViewBag.personaCorreo
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-3 text-center"><i class="fa fa-tag"></i><strong> Cotización: </strong>@ViewBag.cotizacion</div>
            <div class="col-md-3 text-center"><i class="fa fa-calendar-o"></i><strong> Fecha: </strong>@ViewBag.fechaCotizacion</div>
            <div class="col-md-3 text-center"><i class="fa fa-user"></i><strong> Cliente: </strong>@ViewBag.nombre</div>
            <div class="col-md-3 text-center"><i class="fa fa-building"></i><strong> Propiedad: </strong>@ViewBag.titulo</div>
        </div>
        <div class="row pb-15">
            <div class="col-md-3 text-center"><i class="fa fa-money"></i><strong> Precio Final: </strong>@ViewBag.precio</div>
            <div class="col-md-3 text-center"><i class="fa fa-money"></i><strong> Enganche: </strong>@ViewBag.enganche</div>
            <div class="col-md-3 text-center"><i class="fa fa-percent"></i><strong> Porcentaje Enganche: </strong>@ViewBag.porcEnganche</div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center"><i class="fa fa-calendar-check-o"></i><strong>Numero Parcialidades: </strong>@ViewBag.mensualidades</div>
            <div class="col-md-3 text-center"><i class="fa fa-money"></i><strong> Parcialidades: </strong>@ViewBag.parcialidades</div>
            <div class="col-md-3 text-center"><i class="fa fa-percent"></i><strong> Porcentaje Parcialidades: </strong>@ViewBag.porcMensualidades</div>
            <div class="col-md-3 text-center"><i class="fa fa-credit-card"></i><strong> Pago Parcialidad: </strong>@ViewBag.pagoMensual</div>
        </div>
    </div>
</div>

<div class="row no-gutter">
    @*<div class="col-md-2" style="display:none;">
            @using (Html.BeginForm("Filtro", "Amortizaciones", FormMethod.Get, new { @class = " panel panel-default" }))
            {
                <div class="panel-body panel-info">
                    <div class="form-group">
                        <label> Persona: </label><div class="">
                            @Html.DropDownList("Persona", null, "Todas", htmlAttributes: new { @class = "form-control chosen-select" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Propiedad: </label><div class="">
                            @Html.DropDownList("Propiedad", null, "Todas", htmlAttributes: new { @class = "form-control chosen-select" })
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-filtrar left" type="submit"><i class="fa fa-search-plus"></i> Filtrar</button>
                    </div>

                </div>
            }
        </div>*@

    <div class="col-md-10 col-md-offset-1">
        <div class="wrapper" style="height: 500px; overflow-y:auto;">
            <table class="table table-hover table-condensed">
                <thead class="header">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.TiposPago.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaProgramado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Importe)
                        </th>
                        <th>
                            Pagado
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Cotizacion)
                            </th>*@
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    if (item.TipoPago == 1)
                    {
                        <tr class="warning">
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (!item.EstaPagado.Value)
                                    {
                                        <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                                        <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Pagar" onclick="location.href='@Url.Action("Create", "Pagos", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-money"></i></button>
                                    }

                                }   
                                @{ string server = System.Configuration.ConfigurationManager.AppSettings["Server"].ToString(); }                             
                                @{ string appName = System.Configuration.ConfigurationManager.AppSettings["AppName"].ToString(); }
                                <button class="btn btn-info btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Imprimir" onclick="window.open('@server/@appName/Reportes/RptReciboPago.aspx?IdAmortizacion='+ @Html.DisplayFor(modelItem => item.IdAmortizacion));return false;"><i class="fa fa-fw fa-print"></i></button>
                                
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiposPago.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaProgramado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importe)
                            </td>
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (item.EstaPagado.Value)
                                    {
                                        <i class="fa fa-check-circle text-success text-center"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fa fa-times-circle text-danger text-center"></i>
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Cotizacion).ToString().PadLeft(5, '0')
                                </td>*@
                        </tr>
                    }
                    else if (item.TipoPago == 2)
                    {
                        <tr class="success">
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (!item.EstaPagado.Value)
                                    {
                                        <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                                        <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Pagar" onclick="location.href='@Url.Action("Create", "Pagos", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-money"></i></button>
                                    }

                                }                                
                                <button class="btn btn-info btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Imprimir" onclick="window.open('/Reportes/RptReciboPago.aspx?IdAmortizacion='+ @Html.DisplayFor(modelItem => item.IdAmortizacion));return false;"><i class="fa fa-fw fa-print"></i></button>

                                @*<button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-eye"></i></button>*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiposPago.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaProgramado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importe)

                            </td>
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (item.EstaPagado.Value)
                                    {
                                        <i class="fa fa-check-circle text-success text-center"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fa fa-times-circle text-danger text-center"></i>
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Cotizacion).ToString().PadLeft(5, '0')
                                </td>*@
                        </tr>
                    }
                    else if (item.TipoPago == 3)
                    {
                        <tr class="danger">
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (!item.EstaPagado.Value)
                                    {
                                        <button class="btn btn-primary btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Editar" onclick="location.href='@Url.Action("Edit", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-pencil"></i></button>
                                        <button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Pagar" onclick="location.href='@Url.Action("Create", "Pagos", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-money"></i></button>
                                    }

                                }
                                <button class="btn btn-info btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Imprimir" onclick="window.open('/Reportes/RptReciboPago.aspx?IdAmortizacion='+ @Html.DisplayFor(modelItem => item.IdAmortizacion));return false;"><i class="fa fa-fw fa-print"></i></button>
                                @*<button class="btn btn-success btn-tblsolc inline" data-toggle="tooltip" data-placement="right" title="Detalles" onclick="location.href='@Url.Action("Details", "Amortizaciones", new { id = item.IdAmortizacion })';return false;"><i class="fa fa-fw fa-eye"></i></button>*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiposPago.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaProgramado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Importe)
                            </td>
                            <td>
                                @if (item.EstaPagado.HasValue)
                                {
                                    if (item.EstaPagado.Value)
                                    {
                                        <i class="fa fa-check-circle text-success text-center"></i>
                                    }
                                }
                                else
                                {
                                    <i class="fa fa-times-circle text-danger text-center"></i>
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Cotizacion).ToString().PadLeft(5, '0')
                                </td>*@
                        </tr>
                    }

                }

            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var $table = $('.wrapper table');



        $table.floatThead({
            //useAbsolutePositioning: true,
            scrollContainer: function ($table) {
                return $table.closest('.wrapper');
            }
        });

    </script>
}